@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1, legend, footer input {
    font-family: 'Staatliches', cursive;
}
header p, label, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}
body {
    background: #3C3C42;;
}
body::before {
    content: "";
    width: 100%;
    height: 465px;
    background:gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.container {
    max-width: 750px;
    margin: auto;
    width: 90%;
    margin-top: 102px;
    margin-bottom: 392px;
}
header {
    margin-bottom: 32px;
    text-align: center;
}
header h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    animation: fromRight 1.2s;
}
header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 22px;
    margin-top: 3px;
    animation: fromRight 1.2s .1s backwards;
}
header img {
    animation: fromRight 1.2s .2s backwards;
}
section {
    animation: fromTop 1.2s;
}
form {
    background: #FFFFFF;
    padding: 35px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    animation: fromTop 1.2s;
}
fieldset {
    border: none;
}
.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.legend-section {
    background: #8257E5;
    border-radius: 20px 20px 0 0;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-legend {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 9px;
    text-align: center;
    margin-bottom: 18px;
}
label {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 9px;
}
label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #74717a;
    margin-left: 9px;
}
input, select, textarea {
    background: #FAFAFC;
    border: 1px solid #d1d1db;
    border-radius: 8px;
    height: 56px;
    font-size: 13px;
    color: #4E4958;
    padding: 0 15px;
    vertical-align: middle;
}


.two-cols {
    display: flex;
    gap: 22px;
}
.two-cols input {
    width: 300px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 17px;
}

label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    display: block;

  }

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top 50% right 25px;
    width: 300px;
    margin-bottom: 10px;
}
textarea {
    height: 167px;
    padding: 10px 15px;
}
.checkbox-wrapper {
    position: relative;
    margin-top: 15px;
}
.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}
.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}
.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
}
.checkbox-wrapper label {
    margin: 0;
}
.checkbox-wrapper label::before {
    content: "";
    min-width: 24px;
    min-height: 24px;
    border-radius: 8px;
    border: 1px solid #d1d1db;
    background: #FAFAFC;
    display: inline-block;
}
.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
}
.three-cols {
    display: flex;
    align-items: center;
    gap: 10px;
}
.three-cols div:nth-child(1) input {
    width: 300px;
    margin-right: 22px;
}
.three-cols div:nth-child(2) input {
    width: 140px;
}
.three-cols div:nth-child(3) input {
    width: 140px;
}
footer {
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    padding: 0 64px 64px 64px;
    display: flex;
    flex-direction: column;
    animation: fromTop 1.2s;
}
footer input {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background: #8257E5;
    border: none;
    cursor: pointer;
    transition: all .2s;
}
footer input:hover {
    background: #6743b9;
}
@keyframes fromTop {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width:870px) {
    .container {
        margin-top: 78px;
    }
    .two-cols {
        flex-direction: column;
    }
    .two-cols input {
        width: 100%;
    }
    .three-cols {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 50px;
    }
    .three-cols div:nth-child(1) input{
        margin: 0;
        width: 170px;
    }
    .three-cols div:nth-child(2) input {
        width: 170px;
    }
    .three-cols div:nth-child(3) input {
        width: 170px;
    }
    select {
        width: 100%;
    }
    textarea {
        width: 100%;
    }

    .fieldset-wrapper {
        flex-direction: column;
        gap: 18px;
        margin-left: -40px;
    }

    label {
        text-align: center;
    }

    
}